<div class="side-body padding-top">
        <div class="row">
        </div>
        <div>
<!--ng-controller="loginAppCtrl"-->
<div class="login-box container" ng-controller="loginAppCtrl">
<div class="col-xs-6 col-xs-offset-3">
        <div class="card login-form animated zoomIn">
            <div class="card-header">
                <div class="card-title">
                    <div class="title">Change Password</div>
                </div>
            </div>
             <br>
             <div class="alert alert-danger col-md-12" id="danger-alert" style="display: none">
                    <center> <strong> Oops! </strong><br> Reason: {{errorMsg}} </center>
                </div>
                <form class="form-horizontal" ng-submit="changePassword(data)">
                    <div class="form-group">
                        <label for="old_password" class="col-sm-4 control-label">Current Password</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="old_password" placeholder="Current Password" ng-model="data.oldPwd" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new_pwd" class="col-sm-4 control-label" >New Password</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="new_pwd" placeholder="New password" minlength="8" ng-model="data.newPwd" required>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="conf_pwd" class="col-sm-4 control-label" >Confirm Password</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="conf_pwd" placeholder="Confirm password"  minlength="8"  ng-model="data.confPwd" required>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-4">
                            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>&nbsp;
                            <a href="/" class="btn btn-info">Cancel</a>                             
                        </div>
                    </div>
                </form>
            </div>
        </div>
 </div>