<nav class="login_navbar navbar navbar-inverse navbar-fixed-top navbar-top">
    <div class="container-fluid">
        <div class="navbar-header">
		    <ol class="breadcrumb navbar-breadcrumb">
		        <li class="active">&nbsp;<i class="fa fa-binoculars"></i>&nbsp;Wildlife Saviour</li>
		    </ol>
        </div>
    </div>
</nav>
<div class="login-box container" ng-controller="loginAppCtrl" >

    <div class="col-xs-6 col-xs-offset-3">
        <div class="card login-form">
            <div class="card-header">
                <div class="card-title">
                    <div class="title">Forgot Password</div>
                </div>
            </div>
            <div class="card-body">
                <div class="progress" id="login-progress" ng-class="{
                            hidden:!loginProgress
                        }">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        Log In...
                    </div>
                </div>
                <div class="alert alert-danger col-md-12" id="danger-alert" style="display: none">
                    <!--                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
                    <center> <strong> Oops! </strong><br> Reason: {{errorMsg}} </center>
                </div>
                <div class="alert alert-success col-md-12" id="success-alert" style="display: none">
                    <!--                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
                    <center> {{successMsg}} </center>
                </div>
                <form class="form-horizontal" ng-submit="forgetpwdSubmit(frgtpwd)">
                    <div class="form-group">
                        <label for="user_email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="user_email" placeholder="Email" ng-model="frgtpwd.email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" value="submit">Submit</button>
                        </div>
                    </div>
                </form>
                <div class="text-right">
                    <a href="/login" class=""><i class="ace-icon fa fa-arrow-left"></i>&nbsp;<span class="text-right">Login</span></a>
                </div>
            </div>
        </div>
    </div>
</div>