<div class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">Error!</div>
                        </div>
                        <div class="pull-right card-action">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalCardProfileExample"><i class="fa fa-code"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row no-margin no-gap">

                            <div class="col-sm-12">
                                <div class="pricing-table red">
                                    <div class="pt-header">
                                        <div class="plan-pricing">
                                            <div class="pricing">401 - Not Authorized</div>
                                            <div class="pricing-type">You are not authorized to view this template!</div>
                                        </div>
                                    </div>

<!--                                    <div class="pt-footer">
                                        <a href="/" > <button type="button" class="btn btn-danger">Home</button></a>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>