<div ng-controller="activityContoller" ng-init="getAndSubmitActivity();" >
	<div class="container">
		<div class="row">
			<h3>Status Upload Snipp</h3>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="widget-area no-padding blank">
					<div class="status-upload">
						<form>
							<textarea placeholder="What are you doing right now?" ></textarea>
							<script>
	              				$("[data-toggle=tooltip]").tooltip();
	              			</script>
							<ul>
								<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
								<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
								<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
								<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
							</ul>
							<button type="submit" class="btn btn-primary"><i class="fa fa-reply"></i> Submit</button>
						</form>
					</div><!-- Status Upload  -->
				</div><!-- Widget Area -->
			</div>    
		</div>
		<!-- the comments -->
        <h3><i class="fa fa-comment"></i> User One says:
            <small> 9:41 PM on August 24, 2014</small>
        </h3>
        <p>Excellent post! Thank You the great article, it was useful!</p>

        <h3><i class="fa fa-comment"></i> User Two says:
            <small> 9:47 PM on August 24, 2014</small>
        </h3>
        <p>Excellent post! Thank You the great article, it was useful!</p>
	</div>
</div>